<div class="editor-row">
  <div class="section gf-form-group">
    <h5 class="section-heading">Options</h5>
    <div class="gf-form">
      <label class="gf-form-label width-9">Max data points</label>
      <span class="max-width-10">
        <input type="number" class="gf-form-input" ng-model="ctrl.panel.maxDataPoints" ng-change="ctrl.refresh()" />
      </span>
    </div>
    <gf-form-switch class="gf-form" label="Autozoom" label-class="width-11" tooltip="Automatically zoom the map to fit the data" checked="ctrl.panel.autoZoom" on-change="ctrl.zoomToFit()" />
    <gf-form-switch class="gf-form" label="Zoom with scroll wheel" label-class="width-11" checked="ctrl.panel.scrollWheelZoom" on-change="ctrl.applyScrollZoom()" />
    <div class="gf-form">
      <label class="gf-form-label width-9">Default layer</label>
      <div class="gf-form-select-wrapper max-width-11">
        <select class="gf-form-input" ng-model="ctrl.panel.defaultLayer" ng-options="key as key for (key, value) in ctrl.layers" ng-change="ctrl.applyDefaultLayer()"></select>
      </div>
    </div>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Colors</h5>
    <div class="gf-form">
      <label class="gf-form-label width-9">Line Color</label>
      <span class="max-width-10">
        <spectrum-picker class="gf-form-input" ng-model="ctrl.panel.lineColor" ng-change="ctrl.refreshColors()" />
      </span>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-9">Point Color</label>
      <span class="max-width-10">
        <spectrum-picker class="gf-form-input" ng-model="ctrl.panel.pointColor" ng-change="ctrl.refreshColors()" />
      </span>
    </div>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Overlay creation</h5>
    <div class="gf-form">
      <form name="frmUpload">
        <input type=file id=file name=file accept=".json" style="display: none" ng-model="ctrl.panel.geoJsonFile" ng-change="ctrl.displayName()" />
        <input type="text" name="fileName" readonly>
        <button class="btn btn-inverse" ng-click="ctrl.HandleFileButtonClick();" value="button"> <i class="fa fa-plus"></i>&nbsp;Import GeoJSON<tip>This file will be used to add a layer on the map</tip></button>
      </form>
    </div>
    <div class="gf-form">
      <textarea style="resize: both" class="gf-form-input" ng-model="ctrl.panel.geoJsonText" spellcheck='false' placeholder='Copy and paste your GeoJSON file here.' ng-change="ctrl.importGeoJsonText()"></textarea>
    </div>
    <button class="btn btn-inverse" ng-click="ctrl.saveGeoJsonText()">
      <i class="fa fa-save"></i>&nbsp;Save</button>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Overlay list ({{ctrl.panel.geoJsonObjectList.length}})</h5>
    <div class="gf-form">
      <ul style="list-style-type:none">
        <li ng-repeat="overlay in ctrl.panel.geoJsonObjectList">
          <label class="gf-form-label" style="display: inline">
            <!-- <i class="fa fa-ellipsis-v"></i>&nbsp; -->
            Overlay {{overlay._leaflet_id}}
          </label>
          <button data-toggle="tooltip" title="Download this overlay" class="btn btn-inverse" ng-click="ctrl.downloadOverlay(overlay)">
            <i class="fa fa-download"></i></button>
          <button data-toggle="tooltip" title="Edit this overlay" class="btn btn-inverse" ng-click="ctrl.editOverlay()">
            <i class="fa fa-edit"></i></button>
          <button data-toggle="tooltip" title="Delete this overlay" class="btn btn-inverse" ng-click="ctrl.deleteOverlay(overlay)">
            <i class="fa fa-trash"></i></button>
        </li>
      </ul>
    </div>
  </div>
</div>
