<div class="editor-row">
  <div class="section gf-form-group">
    <h5 class="section-heading">Colors</h6>
    <div class="gf-form">
      <label class="gf-form-label width-9">Line Color</label>
      <span class="max-width-10">
        <spectrum-picker class="gf-form-input" ng-model="ctrl.panel.lineColor" ng-change="ctrl.refreshColors()" ></spectrum-picker>
      </span>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-9">Point Color</label>
      <span class="max-width-10">
        <spectrum-picker class="gf-form-input" ng-model="ctrl.panel.pointColor" ng-change="ctrl.refreshColors()" ></spectrum-picker>
      </span>
    </div>
  </div>
</div>
